apiVersion: v1
kind: Secret
metadata:
  name: scancrunch-secrets
type: Opaque
stringData:
  google-client-id: "your-google-client-id-here"
  google-client-secret: "your-google-client-secret-here"
  jwt-secret: "your-jwt-secret-here"
  mail-password: "your-mail-password-here"
